*.sln
*.db
.vs
*.opendb
Baekjoon/Debug/
Baekjoon/algorithm.cpp
Baekjoon/*.vcxproj
Baekjoon/*.filters
SWExpertAcademy/Debug/
SWExpertAcademy/*.vcxproj
SWExpertAcademy/*.filters
CodingTest/Debug
CodingTest/*.vcxproj
CodingTest/*.filters
